<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name ="test_login.Login_test">
  <methods>
  <exclude name="loginTest_Im"/>
  <include name="MultipleRun"/>
  </methods>
  </class>
 <!-- <class name="test_login.Login_POSPush">
  <methods>
  <include name="Login"/>
  </methods>
  </class>-->
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
